/* @import "tailwindcss/preflight"; */
/* @tailwind utilities; */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

/* SF Pro Display */
@font-face {
  font-family: "SF Pro Display";
  src: url("https://github.com/jnsgruk/sf-pro-fonts/raw/main/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* SF Pro Text */
@font-face {
  font-family: "SF Pro Text";
  src: url("https://github.com/jnsgruk/sf-pro-fonts/raw/main/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}




body {
  font-family: "SF Pro Display", "SF Pro Text",   Helvetica, Arial, sans-serif;
}